.profile-story {
    grid-area: story;
}

.profile-content {
    grid-area: content;
}

.wrapper {
    margin: 1rem;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "story"
        "content";
}

@media (min-width: 575px) {
    .wrapper {
        grid-template-columns: 1fr 4fr;
        grid-template-areas: "story content"
    }
}