<div class="card">
    <img src="https://via.placeholder.com/250x150" alt="Recipe Card Image" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">
            {{ recipeTitle }}
        </h5>
        <p class="card-text">
            Recipe Description
        </p>
        
        <a [routerLink]="['/recipes', recipeId]" class="btn btn-primary">View Recipe</a>
    </div>
    <div class="card-footer">
        <span *ngFor="let tag of recipeTags" class="badge badge-secondary badge-tags">{{ tag }}</span>
    </div>
</div>