.container-story{
    min-width: 300px;
    /* background: #313638; */
    /* text-align: center; */
    /* margin: 1rem auto; */
    /* background: #E4DFDA; */
    /* border-radius: 10px; */
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
}

.card-body-header {
    display: flex;
    align-items: baseline;
}

.card-name {
    flex: 1;
}

#edit-icon {
    color: #ED6A5A;
}

#recipe-count {
    color: #ED6A5A;
    font-weight: bold;
}