<div class="container-story card">

    <profile-picture [photoPath]="profile.profile_photo" (click)="openModal(content)"></profile-picture>

    <div class="card-body">
        <div class="card-body-header">
            <div class="card-name">
                <h4 class="card-title">
                    {{ profile.first_name }} {{ profile.last_name }}
                </h4>
                <h6 class="card-subtitle text-muted mb-2">
                    @{{ profile.user_account }}
                </h6>
            </div>
            <!-- <p><small>edit</small></p> -->
            <i class="far fa-edit fa-lg" id="edit-icon"></i>
        </div>
    </div>
    <div class="card-append">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                {{ profile.short_bio }}
            </li>
            <li class="list-group-item">
                Recipe count: <span id="recipe-count">{{ profile.recipe_count }}</span>
            </li>
            <li class="list-group-item">
                <small>
                    Date Joined: {{ profile.created_time | date: 'medium'}}
                </small>
            </li>
        </ul>
    </div>

</div>


<ng-template #content let-modal>
    <app-profile-pic-upload [profile]="profile" [photoPath]="profile.profile_photo"></app-profile-pic-upload>
</ng-template>