<form [formGroup]="photoForm">
    <div class="wrapper">

        <label for="new-image">
            <div class="box-preview" id="addPhoto">
                <i class="fas fa-camera fa-5x"></i>
            </div>
        </label>

        <input type="file" name="photos[]" id="new-image" (change)="onFileSelect($event)" />
        <div *ngFor="let p of photosArray.controls; let i = index" class="box-preview">
            <!-- [ngStyle]="{'background': 'url(' + imageSrc[i] + ')'}" [style.background-size]="contain"> -->
            <img [src]="imageSrc[i]" alt="">
            <button id="removePhoto" (click)="removePhoto(i)">x</button>
        </div>
    </div>
</form>




<!-- {{ photoForm.value | json }} -->