input {
    display: none;
}

#addPhoto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0.3;
}

#addPhoto:hover {
    opacity: 0.8;
}

#removePhoto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0.3;
}
#removePhoto:hover {
    opacity: 0.8;
}

#uploadPhotos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0.3;
}


.wrapper {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    background: #3c3c3c;
    padding: 1rem;
}

.box-preview {
    position: relative;
    width: 170px;
    height: 170px;
    background-color: white;
    /* margin-right: 1rem; */
    border: 2px dashed grey;
    /* border-radius: 10px; */
}

.box-preview img {
    width: 166px;
    height: 166px;
}

/* @media (max-width: 575px) {
    .box-preview {
        width: 100%;
        height: 100%;
    }
} */