
.lightbox-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.thumbnail:hover {
    box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
}

.thumbnail > img {
    object-fit: cover;
    width: 100%;
}

.modal-img > img {
    object-fit: cover;
    width: 100%;
}