.container-nav-sub {
    display: flex;
    justify-content: space-between;
}

.nav-sub-user {
    & .nav-item {
        font-weight: bold;
    }
    & .btn {
        white-space: nowrap;
    }
    & .nav-username {
        padding: 0.5rem 1rem;
        color: rgba(0,0,0,0.5);
        font-style: italic;
    }
} 


.btn-new-recipe {
    background: #ED6A5A;
    border: 1px solid #ED6A5A;
    color: #FFFFFF;
}

.btn-explore {
    background: #272838;
}

#brand-logo {
    position: absolute;
    width: 60px;
}

#nav-search {
    max-width: 500px;
}