<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">GitRecipes</a>
        <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
        
        <ul *showIfAuth="false" class="navbar-nav mr-auto pull-xs-right">    
            <li class="nav-item">
                <a class="nav-link" routerLink="/auth/login">Login</a>
            </li>    
            <li class="nav-item">
                <a class="nav-link" routerLink="/auth/register">Signup</a>
            </li>
        </ul>

        <ul *showIfAuth="true" class="navbar-nav mr-auto pull-xs-right">    
            <li class="nav-link">
                {{ currentUser.username }}
            </li>

            <li class="nav-item">
                <!-- <a class="nav-link" href="#">Profile</a> -->
                <a class="nav-link" href="#">
                    Profile
                </a>
            </li>    
            <li class="nav-item">
                <!-- <button type="button" class="btn btn-link">Logout</button> -->
                <a class="nav-link" routerLink="/auth/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>