#body-layout {
    height: 100vh;
    position: relative;
}

.container-head {
    z-index: 10;
    position: relative;
    width: 100%;
    
    box-shadow: 0 4px 5px 0px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    /* background: #BDD4E7; */
}

.header {
    max-width: 1260px;
    width: 100%;
    
}

.container-body {
    position: relative;
    width: 100%;
    /* max-width: 1260px; */
    /* padding-bottom: 4rem; */
    /* margin: 1rem auto 0; */
    background: #fff;
}

.container-foot {
    position: relative;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 4rem;
    justify-content: center;
    background: #E4DFDA;
    /* margin-top: 4rem; */
}

.footer {
    max-width: 1260px;
    width: 100%;
}
