<div class="container-head">
	<div class="navbar-top">
		<app-navbar></app-navbar>
	</div>
</div>

<ngx-spinner
    bdOpacity = 0.9
    bdColor = "#333"
    size = "medium"
    color = "#fff"
    type = "square-jelly-box"
    [fullScreen] = "true">
<p style="color: white" > Loading... </p>
</ngx-spinner>

<div class="container-body">
    <app-alert-banner></app-alert-banner>
    <router-outlet></router-outlet>
</div>

<div class="container-foot">
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>

