#body-layout {
    min-height: calc(100vh);
    padding-top: 56px;
    /* padding-bottom: 200px; */
    /* position: relative; */
}

#toast-container {
    position: relative;
    left: 1rem;
    top: 1rem;
}

.container-head {
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
}

.header {
    max-width: 1260px;
    width: 100%;
    
}

.container-body {
    position: relative;
    width: 100%;
    height: 100%;
}

.container-foot {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 4rem;
    justify-content: center;
    background: #F7F3E3;
}

.footer {
    max-width: 1260px;
    width: 100%;
}
