<div id="body-layout">
    <div class="container-head">
        <div class="header">
            <app-navbar></app-navbar>
        </div>
    </div>


    <div class="container-body">
        <ngx-spinner bdColor="rgba(51,51,51,0.9)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]=true>
            <p style="color: white"> Loading... </p>
        </ngx-spinner>
        <div toastContainer id="toast-container"></div>

        <router-outlet></router-outlet>
    </div>

    <!-- <div class="container-foot">
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div> -->
</div>