<div id="body-layout">
    <div class="container-head">
        <div class="header">
            <app-navbar></app-navbar>
        </div>
    </div>


    <div class="container-body">
        <ngx-spinner bdOpacity=0.5 bdColor="#333" size="medium" color="#fff" type="square-jelly-box" [fullScreen]=true>
            <p style="color: white"> Loading... </p>
        </ngx-spinner>

        <app-alert-banner></app-alert-banner>
        <router-outlet></router-outlet>
    </div>

    <!-- <div class="container-foot">
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div> -->
</div>