.recipe-subcontainer {
    display: grid;
    grid-template-areas:
        "ing-header"
        "ing-items";
}


.input-group {
    /* display: flex; */
    margin: 5px auto;
}

.recipe-form {
    padding: 1rem;
}
