<form [formGroup]="recipeForm" (ngSubmit)="submitRecipe()">

    <input class="form-control form-control-lg my-3" formControlName="title" placeholder="Title">

    <input class="form-control" readonly hidden formControlName="author">

    <!-- Add Tags -->
    <tag-input formControlName="tags" [modelAsStrings]="true" theme="bootstrap">
    </tag-input>


    <select id="privacy" formControlName="privacy">
        <option *ngFor="let p of privacies" [ngValue]="p">{{ p }}</option>
    </select>

    <!-- Add Ingredients -->
    <hr>
    <h4 class="mt-3">
        Ingredients
    </h4>


    <div class="recipe-subcontainer">
        <div formArrayName="ingredients">
            <div class="ing-items input-group" *ngFor="let ing of recipeIngredients.controls; let ingIndex=index"
                [formGroupName]="ingIndex">
                <input formControlName="ingredient" class="form-control" placeholder="Ingredient">
                <input formControlName="quantity_amount" class="form-control col-3" placeholder="Quantity">
                <input formControlName="quantity_unit" class="form-control col-3" placeholder="Unit">
                <div class="input-group-append">
                    <button class="btn btn-danger" type="button" (click)="deleteRecipeIngredient(ingIndex)"><i
                            class="fas fa-trash-alt"></i></button>
                </div>
            </div>

            <button class="btn btn-outline-primary btn-block" type="button" (click)="addRecipeIngredient()">Add
                ingredient</button>
        </div>
    </div>

    <!-- Add Steps -->
    <hr>
    <h4 class="mt-3">
        Steps
    </h4>
    <div class="recipe-subcontainer">
        <div formArrayName="steps">
            <div class="step-items input-group row" *ngFor="let step of recipeSteps.controls; let stepIndex=index"
                [formGroupName]="stepIndex">
                <input type="number" class="form-control col-2 col-sm-1" formControlName="step_number" placeholder="#">
                <input type="text" formControlName="step_text" class="form-control" placeholder="Step directions...">
                <div class="input-group-append">
                    <button class="btn btn-danger" type="button" (click)="deleteRecipeStep(stepIndex)"><i
                            class="fas fa-trash-alt"></i></button>
                </div>
            </div>
            <button class="btn btn-outline-primary btn-block" type="button" (click)="addRecipeStep()">Add step</button>
        </div>
    </div>

    <!-- Add notes -->
    <hr>
    <h4 class="mt-3">Notes</h4>
    <div class="recipe-subcontainer">

        <div formArrayName="notes">
            <div class="note-items input-group" *ngFor="let note of recipeNotes.controls; let noteIndex=index"
                [formGroupName]="noteIndex">
                <input type="text" class="form-control" formControlName="note_text"
                    placeholder="Enter any note here...">
                <div class="input-group-append">
                    <button class="btn btn-danger" type="button" (click)="deleteRecipeNote(noteIndex)"><i
                            class="fas fa-trash-alt"></i></button>
                </div>
            </div>
            <button class="btn btn-outline-primary btn-block" type="button" (click)="addRecipeNote()">Add note</button>
        </div>
    </div>

    <!-- Add Images -->
    <hr>
    <h4 class="mt-3">
        Images
    </h4>


    <hr>
    <!-- Submit button -->
    <button class="btn btn-primary btn-block btn-lg" type="submit">Submit Recipe</button>
</form>

{{ this.recipeForm.value | json }}