.container-content {
    margin: 1rem auto;
    /* background: #E4DFDA;
    border-radius: 10px; */
}

.recipe-thumb-container {
    display: flex;
    flex-wrap: wrap;
}

.card-wrapper {
    margin: 1rem;
}

h1 {
    margin: 1rem;
}