.wrapper {
    display: flex;
    min-height: 80vh;
}

.center {
    margin: auto;
    width: 500px;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    min-height: 80vh;
}
