<div class="container">
    Recipe ID: {{ recipe.pk }}

    <a [routerLink]="['/recipes', recipe.pk, 'edit']" class="btn btn-link">Edit Recipe</a>
    <h3>
        Title: {{ recipe.title }}
    </h3>
    <h5>
        Author: {{ recipe.author }}
    </h5>
    
    <h6>Tags:</h6>
    <span *ngFor="let t of recipe.tags" class="btn btn-link">{{ t }} </span>
    
    <h5>
        Ingredients:
    </h5>
    <ul>
        <li *ngFor="let i of recipe.ingredients">
            {{ i.ingredient }} - {{ i.quantity_amount }} {{ i.quantity_unit }}
        </li>
    </ul>
    
    <h5>
        Directions:
    </h5>
    <ol>
        <li *ngFor="let i of recipe.steps">
            {{ i.step_text }}
        </li>
    </ol>
    
    <h5>
        Notes:
    </h5>
    <ol>
        <li *ngFor="let n of recipe.notes">
            {{ n.note_text}}
        </li>
    </ol>
    <p>
        <small>
            Last modified: {{ recipe.modified_time | date: 'medium' }}
            <br>
            Created: {{ recipe.created_time | date: 'medium' }}
        </small>
    </p>
</div>
