.wrapper {
    display: flex;
    min-height: 80vh;
}

.center {
    margin: auto;
    /* width: 500px; */
}

.landing-island {
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    max-width: 600px;
    color: #252323;
}

.btn-new-recipe {
    background: #ED6A5A;
    border: 1px solid #ED6A5A;
    color: #FFFFFF;
}

.btn-explore {
    background: #272838;
}

.landing-island a {
    width: 8rem;
    margin-top: 8px;
}

@media (min-width: 800px) {
    
}

@media (min-width: 1200px) {
    
    
}
